/* Variables */

$primary-green: #26a69a;

/* Styles */

html {
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: rgba(0,0,0,0.87);
}
body {
	margin: 0;
}
.page-container {
	min-height: 100%;
}
footer {
  display: none;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
  z-index: 100;
}
.row {
	margin-bottom: 10px;
}
.col {
	/* float: left; */
	display: inline-block;
	box-sizing: border-box;
}
.left-pane, .right-pane {
	margin: 5%;
	float: left;
	width: 40%;
	box-sizing: border-box;
}
.center-pane {
	margin: 5% 15%;
}
.intro-section, .exp-section {
		height: 100vh;
}
.nav-section {
    height: 280px;
    background: $primary-green;
}
.profile-section {
    width: 230px;
    height: 120px;
    margin: auto;
    transform: translatey(-100%);
}
.profile-icon {
    width: 220px;
    height: 220px;
    margin: auto;
    border-radius: 135px;
    border: 5px solid white;
}
.basic-info {
    margin: auto;
    text-align: center;
}
.profile-name {
    font-weight: bold;
    font-size: 36px;
    color: $primary-green;
    letter-spacing: 0.5px;
}
.designation {
    font-size: 26px;
    color: dimgray;
}
.profile-bio {
    margin: 30px 0px 10px;
    line-height: 40px;
    font-size: 20px;
}
.ref-site {
	display: inline-flex;
	margin: 20px;
	align-items: center;
}
.site-link {
   text-decoration: none;
   color: $primary-green;
   font-size: 18px;
}
.icon {
	height: 20px;
	margin: 0px 5px;
}

.exp-section {
	margin: 0 5%;

	.section-heading {
		padding-top: 30px;
		letter-spacing: 1px;
		color: $primary-green;
    font-size: 36px;
    font-weight: bold;
	}

	.job-section {
		margin: 30px 0px;

		.company {
			font-size: 22px;
			color: $primary-green;
			display: inline-block;
			font-weight: bold;
		}
		.job-title {
			font-size: 24px;
			font-weight: bold;
			color: $primary-green;
		}
		.exp {
			display: inline-block;
			margin: 0px 10px;
			color: $primary-green;
			font-weight: bold;
		}

		.desc-text {
			font-size: 20px;
		}
	}

}
