/* Variables */

$primary-green: #26a69a;
$primary-gray: #e0e0e0;
$secondary-black: dimgray;

/* Styles */

html {
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: rgba(0,0,0,0.87);
}
body {
	margin: 0;
}
.page-container {
	min-height: 100%;
}
footer {
  display: none;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: $primary-gray;
  text-align: center;
  z-index: 100;
}
.row {
	margin-bottom: 10px;
}
.col {
	/* float: left; */
	display: inline-block;
	box-sizing: border-box;
}
.left-pane, .right-pane {
	margin: 5%;
	float: left;
	width: 40%;
	box-sizing: border-box;
}
.center-pane {
	margin: 5% 15%;
}
.intro-section {
  .nav-section {
    height: 280px;
    background: $primary-green;
  }
  .profile-section {
    width: 230px;
    height: 120px;
    margin: auto;
    transform: translatey(-100%);
  }
  .profile-icon {
    width: 220px;
    height: 220px;
    margin: auto;
    border-radius: 135px;
    border: 5px solid white;
  }
  .basic-info {
    margin: auto;
    text-align: center;
  }
  .profile-name {
    font-weight: bold;
    font-size: 36px;
    color: $primary-green;
    letter-spacing: 0.5px;
  }
  .designation {
    font-size: 26px;
    color: $secondary-black;
  }
  .profile-bio {
    margin: 30px 0px 10px;
    font-size: 20px;
  }
  .ref-site {
    display: inline-flex;
    margin: 20px;
    align-items: center;
  }
  .site-link {
    text-decoration: none;
    color: $primary-green;
    font-size: 18px;
    text-transform: capitalize;
  }
  .icon {
    height: 20px;
    margin: 0px 5px;
  }

  .optum-logo {
    width: 130px;
  }
}

.intro-section, .end-section {
  height: 100vh;
}

.section-heading {
	letter-spacing: 1px;
	background: $primary-green;
	box-shadow: 0px 2px 6px 0px grey;
	font-size: 36px;
	font-weight: bold;
	padding: 5px 70px;
	color: white;
	position: sticky;
  top: 0px;
  z-index: 10;
}

.exp-section {
	.job-section {
    padding: 5%;

    .job-panel {
      padding: 30px 50px;
      box-shadow: 0px 0px 1px 0px grey;

      .company {
        font-size: 22px;
        color: $primary-green;
        display: inline-block;
        font-weight: bold;
      }
      .job-title {
        font-size: 24px;
        font-weight: bold;
        color: $primary-green;
      }
      .exp {
        display: inline-block;
        margin: 0px 10px;
        color: $primary-green;
        font-weight: bold;
      }

      .desc-text {
        font-size: 20px;
      }
    }
	}

}

.skills-section {
	.graph-section {
    padding: 4px 5% 30px;

    .vertical-list {
      .chart {
        width: 90vw;
        // filter: drop-shadow( 5px 5px 5px gray);

        .bar-chart {
          .skill {
            x: 0;
          }

          .bar {
            width: 10%;
            height: 50px;
            fill: $primary-green;
      
            &.empty {
              fill: $primary-gray;
              border: 1px solid $primary-green;
            }
      
            @for $i from 1 through 9 {
              &:nth-child(#{$i}) {
                x: calc(11% * (#{$i} - 1));
              }
            }
          }
      
          @for $i from 1 through 5 {
            &:nth-child(#{$i}) {
              .bar {
                y: calc(10 + ((#{$i} - 2) * 80));
              }
            }
          }
        }
      }
    }

    .horizontal-list {
      .chart {
        padding-top: 10px;
        display: flex;
        justify-content: space-around;
        // filter: drop-shadow( 5px 5px 5px gray);
      }

      .pie-chart {
        .chart-box {
          width: 150px;
          height: 150px;
          transform: rotate(-90deg) scaleY(-1);
          border-radius: 50%;
        }

        .pie {
          r: 75;
          cy: 75;
          cx: 75;
          fill: $primary-green;
          stroke-width: 150;
          stroke: $primary-gray;
        }

        @for $i from 0 through 8 {
          .level-#{8 - $i} {
            stroke-dasharray: calc(#{$i} * 60) 450;
          }
        }
      }
    }
	}

	.section-title {
		color: $primary-green;
		font-size: 26px;
		font-weight: 900;
		margin: 20px 0px;
		text-transform: uppercase;
	}

	.skill {
    fill: $secondary-black;
    color: $secondary-black;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin: 15px;
	}
}

.projects-section {
  .prolist-section {
    padding: 30px 5%;

    .section-title {
      color: $primary-green;
      font-size: 26px;
      font-weight: 900;
      margin: 20px 0px;
      text-transform: uppercase;
    }

    .projects-list {
      display: flex;
      flex-wrap: wrap;

      .project-card {
        width: 350px;
        height: 250px;
        margin: 20px;
        box-shadow: 0px 2px 6px 0px grey;
        border-radius: 2px;

        .project-title {
          font-size: 24px;
          color: $primary-green;
          border-bottom: 1px solid;
          margin: 15px 20px;
        }

        .title-link {
          color: unset;
          text-decoration: none;
        }

        .description {
          margin: 15px 20px;
        }
      }
    }
  }
}

.end-section {
  .endcard-title {
    text-align: center;
    margin-top: auto;
    background: $primary-green;
    height: 50vh;

    .title-group {
      transform: translateY(100%);

      .center-title {
        font-size: 84px;
        font-weight: 900;
        color: white;
        letter-spacing: 1px;
      }

      .caption {
        color: white;
        font-size: 20px
      }
    }
  }

  .end-message {
    text-align: center;
    margin: 100px;
    font-size: 32px;
    color: $secondary-black;

    a {
      color: $primary-green;
      text-decoration: none;
    }
  }
}